*{
    font-family: monospace;
    font-size: 18px;
    color: #f3d963af;
}

body{
    background-color: #f3d963af
    
}
button{
    outline: solid #3a211a 1px;
   height: 50px;
   width: fit-content;
   background-color: #96553c ;
   color: #fff2b7af;
   padding: 15px;
   margin-left: 10px;
   border-radius: 10px 10px;
}