*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A6F6FF;
    color: #6499E9;
}
h1{
    margin-top: 35px;
}
.survivorbtn{
    width: 90px;
    height: 55px;
    border-radius: 8px;
    background-color: #6499E9;
    color: #CBF3BB;
    font-size: 17px;
    font-weight: 550;
    border: none;
    outline: none;
    transform: translateY(50px);
}
.survivorbtn:active{
    color: #6499E9;
    background-color: #CBF3BB;
}
.footer{
    margin-top: 44px;
    font-size: 17px;
}